/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  color-scheme: light;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;

}